---
---
@charset "UTF-8";
@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

.page__content {
  font-size: 0.58rem;
  padding-top: 3rem;
}

p {
  font-size: 0.58rem;
}

.masthead {
  display: none;
}
